<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
   <binding name="BasicHttpBinding_IProxyService" maxReceivedMessageSize="104857600" maxBufferSize="104857600" maxBufferPoolSize="524288">
    <readerQuotas maxDepth="64" maxStringContentLength="104857600" maxArrayLength="104857600" maxBytesPerRead="65536" maxNameTableCharCount="16384" />
   </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8090/ProxyService/Proxy"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyService"
    contract="ProxyService.IProxyService" name="BasicHttpBinding_IProxyService" />
  </client>
 </system.serviceModel>
</configuration>